body.block-editor-page.wp-media-category .media-frame select.attachment-filters {
    width: auto;
    max-width: 100%;
}

body.block-editor-page.wp-media-category .attachments-browser .media-toolbar {
    margin-bottom: 15px;
    height: auto;
}

body.block-editor-page.wp-media-category .attachments-browser .media-toolbar-secondary {
    width: 100%;
}

body.block-editor-page.wp-media-category .media-toolbar .spinner {
    display: inline-block;
}